<p>student-list works!</p>
<div class="card my-5">
  <div class="col-md-2">
    <label for="inputClass" class="form-label">Class</label>
    <select id="mySelect" style="margin: 5px;" #mySelect (change)="onChange(mySelect.value)" >
      <option value="all" selected>All</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    <button style="position: absolute;" type="button" class="btn btn-primary" (click)="refresh();mySelect.value='all' ">Refresh</button>
  </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Hindi</th>
            <th scope="col">English</th>
            <th scope="col">Math</th>
            <th scope="col">Science</th>
            <th scope="col">Computer</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.student_id }} </td>
            <td>{{ student.roll_no }} </td>
            <td>{{ student.name }} </td>
            <td>{{ student.student_class }} </td>
            <td>{{ student.subject.hindi }} </td>
            <td>{{ student.subject.english }} </td>
            <td>{{ student.subject.math }} </td>
            <td>{{ student.subject.science }} </td>
            <td>{{ student.subject.computer }} </td>
            <td> <div class="col-12">
              <button type="submit" class="btn btn-primary" (click)="onEdit(student)">Edit</button>
            </div> </td>
            <td> <div class="col-12">
              <button type="submit" class="btn btn-danger" (click)="onDelete(student.student_id)">Delete</button>
            </div> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>